*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;

  }
  .logo{
    width: 120px;
    cursor: pointer;
    align-items: center;
  }
  .navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;

    position: relative;
  }
  .navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  .navbar ul li::after{
    content: '';
    height: 2px;
    width: 0%;
    background: #f9004d;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  .navbar ul li:hover:after{
    width: 100%;
  }
  .dropbtn {
    background-color: transparent;
    color: white;
    width: 65px;
    height: 40px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 0px;
    font-weight: 300 ;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;

    background-color: #191919;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #313131;
    transition: .2s;

  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: transparent;
  }




body{
    /* background-image: url("back.jpg"); */
    background-color: #000000;
    font-size: 14px;
}
.container{
    width: 80%;
    margin: 50px auto;
    color: #fff;

}
.contact-box{
    background: #fff;
    display: flex;
    height: 650px;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;

}
/* .contact-right{
    flex-basis: 40%;
    padding: 40px ;
    background: #bb003b;
    color: #fff;
} */
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.input-row .dropdown{
  border: 1px solid #ccc ;
}
.input-row .input-group{
    flex-basis: 45%;

}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea {
width: 100% ;
border: 1px solid #ccc ;
outline: none ;
padding: 10px;
box-sizing: border-box;

}
label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}
button{
    background: #bb003b;
    width: 100px;
    border: none;
    font-weight: bold;
    outline: none;
    color: rgb(255, 255, 255);
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3) ;
}
button:hover{
    transform: scale(1.1);
    transition: .3s;
}
.contact-left h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;

}
tr td{
    padding-top: 20px;
}





footer{
    position: relative;
    width: 100%;
    height: 300px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 16px 7px ;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.4);
    transition: .3s;

}
.end{
    position: absolute;
    color: #f9004d;
    bottom: 10px;
    font-size: 14px;

}